<!-- Navbar for navigating the app. -->
<div class="flexnav">
	<nav class="navbartop">
		<ul>
			<div class="navgroup-left">
				<!-- Placeholder 1. -->
				<li class="navobj">
					<a href="{{url_for('logout')}}">Placeholder 1</a>
				</li>
				<!-- Placeholder 2. -->
				<li class="navobj">
					<a href="{{url_for('logout')}}">Placeholder 2</a>
				</li>
			</div>
			<div class="navgroup-right">
				<!-- Uloskirjautumisen linkki. -->
				<li class="navobj">
					<a href="{{url_for('logout')}}">Logout</a>
				</li>
			</div>
		</ul>
	</nav>
</div>
