<!-- Navbar for navigating the app. -->
<div class="flexnav">
	<nav class="navbartop">
		<ul>
			<div class="navgroup-left">
				<!-- Dashboard. -->
				<li class="navobj">
					<a href="{{url_for('dashboard')}}">Dashboard</a>
				</li>
				<!-- Offer List. -->
				<li class="navobj">
					<a href="{{url_for('offer_listing')}}">Offers</a>
				</li>
				<!-- Bid List. -->
				<li class="navobj">
					<a href="{{url_for('bid_listing')}}">Bids</a>
				</li>
				<!-- Order List. -->
				<li class="navobj">
					<a href="{{url_for('order_listing')}}">Orders</a>
				</li>
			</div>
			<div class="navgroup-right">
				<!-- Logout link. -->
				<li class="navobj">
					<a href="{{url_for('logout')}}">Logout</a>
				</li>
			</div>
		</ul>
	</nav>
</div>
