<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Stocks</title>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='styles.css') }}"
		/>
	</head>
	<body>
		<!-- Add navigation bar to the page. -->
		{% include 'navbar.html' %}

		<h1>Stocks</h1>

		<!-- Stocks information. -->
		{% if stocks %}
		<ul id="stock-listing">
			{% for stock in stocks %}
			<li>
				<a
					class="heavy"
					href="{{ url_for('order_create', stockid=stock['stockid']) }}"
				>
					{{ stock['stockname'] }}
				</a>
				<span>
					(Last traded price: {{ stock['last_traded_price'] }} €)
				</span>
			</li>
			{% endfor %}
		</ul>
		{% else %}
		<span>No stocks available.</span>
		{% endif %}
	</body>
</html>
